.navbar_custom {
    border-bottom: solid 1px #e0e0e0;
}

.navbar-brand {
    color: #007E33!important;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 20px;
}

.navbar-brand span {
    text-transform: uppercase;
    font-size: .8rem;
    font-style: normal;
}